
<% @pianos.each do |piano| %>
  <div class="piano-view-container">
    <%= piano.model %>
    <a href="/pianos/<%= piano.id %>/photos/new">add photo</a>
    <a href="/pianos/<%= piano.id %>/photos">add photo</a>

    <img src='<%= piano.photo %>'  />

      <% piano.detail_photos.each do |detail| %>
          <span><img src='<%= detail.image.url %>'  /></span>
      <% end %>
  </div>
<% end %>