<%= render template: "/partials/_admin_nav.html.erb" %>

<% @pianos.each do |piano| %>
  <div class="piano-view-container">
    <%= piano.model %>

    <a href="/pianos/<%= piano.id %>/"><img src='<%= piano.photo %>'  /></a>
    <%= piano.description %>

  </div>
<% end %>