<div class="banner">
  <% @page_title = "UserAuth | Signup" %>
  <div class="sign-form">
    <h1>Sign Up</h1>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <p> </br> <%= f.text_field :username, placeholder: "Username" %> </p>
      <p> </br> <%= f.text_field :email, placeholder: "Email" %> </p>
      <p> </br> <%= f.password_field :password, placeholder: "Password" %></p>
      <p> </br> <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> </p>
      <%= f.submit :Signup %>
    <% end %>
    <% if @user.errors.any? %>
      <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
