<%= form_for [piano, photo] do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder: :description %>
  </div>

  <div class="form-group">
    <%= f.file_field :image, placeholder: :image, required: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>