<!DOCTYPE html>
<html>
  <head>
    <title>CepcoSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--     <div class="navi">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Newsletter</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div> -->
    <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
    <% end %>
    <div class="banner">
      <img src="https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_logo_white.png?raw=true" height="50%" width="50%" />
    </div>
    <%= yield %>
  </body>
</html>
